#!/bin/sh

setbg &
setxkbmap -layout us,ru -option caps:super,grp:alt_shift_toggle && killall xcape 2>/dev/null ; xcape -e 'Super_L=Escape' &
xset r rate 250 50 &
syncthing -no-browser &
udiskie &
unclutter &
xrdb -merge .cache/wal/colors.Xresources &
picom &
sxhkd &
